// http://qiita.com/hashrock/items/5c18bf5086f52e4122e5

@mixin column($percentage-width) {
  flex: 0 0 ($percentage-width);
  max-width: ($percentage-width); /* IE11 */
}

// This is equivalent of Bootstrap row.
.grid {
  display: flex;
  flex-wrap: wrap;
}
// Basic configuration of columns.
.col {
  h1, h2, h3, h4, p {
    // Add ellipsis in case of text overflowing.
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // The offset spacer.
  &.offset {
    height: 0;
  }
}
// Columns in various widths.
.col.col-1-3 { @include column(100% / 3 * 1); }
.col.col-2-3 { @include column(100% / 3 * 2); }
.col.col-1-4 { @include column(100% / 4 * 1); }
.col.col-2-4 { @include column(100% / 4 * 2); }
.col.col-3-4 { @include column(100% / 4 * 3); }
.col.col-1-5 { @include column(100% / 5 * 1); }
.col.col-2-5 { @include column(100% / 5 * 2); }
.col.col-3-5 { @include column(100% / 5 * 3); }
.col.col-4-5 { @include column(100% / 5 * 4); }

// For smaller devices, stretch all the columns to 100%.
@media (max-width: 768px) {
  .col {
    flex: 0 0 100%!important;
    max-width: 100%!important; /* IE11 */
  }
}
