// Layout
//
// Styles for managing the structural hierarchy of the site.

// * { border: 1px dotted red; }

// http://www.websitedimensions.com/
body {
  min-width: 320px;
}

main {
  position: relative;
}

// NOTE: .container is used in multiple places.
.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}
.container.content {
  margin-top: 4rem;
  min-height: 500px;
}

// A panel with an introduction text.
.introduction {
  padding: 1.5em;
  margin: 0;
  background: $image-background;
  font-family: $introduction-font-family;
  font-weight: 100;
  font-size: 1.3rem;
  color: $black;
}

footer {
  vertical-align: middle;
  margin-top: 4rem;
  padding: 4rem 0;
  color: $gray-2;
  background: $black;
  .contact-info {
    display: inline-block;
    padding: 0 5px;
  }
  .social-links {
    display: inline-block;
    float: right;
    font-size: 1.0em;
    a {
      color:inherit;
      margin: 0 .5rem;
      color: $link-hover-color;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 1.5em;
  background: $gray-2;
}
