// Adopted from https://github.com/poole/lanyon
$navbar-height: 50px;

@mixin navbar-item-align {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: $navbar-height;
  line-height: $navbar-height;
}

/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  z-index: 13; // Sit on top of main contents.
  top: 0;
  bottom: 0;
  left: auto;
  right: -14rem;
  width: 14rem;
  padding-top: 2rem;  // Only for sliding slidebar.
  visibility: hidden;
  overflow-y: auto;
  font-family: $heading-font-family;
  font-size: 0.875rem; /* 15px */
  color: $gray-2;
  background-color: $black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @media (min-width: 30em) {
    font-size: 0.75rem; /* 14px */
  }
  @media only screen and (min-width : 768px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: auto;
    height: $navbar-height;
    padding: 0 1.5rem;
    visibility: visible;
    overflow-y: auto;
  }
}


/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: white;
}
.sidebar-item {
  padding: 1rem;
  .logo {
    font-size: 1.7em;
    margin-right: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  // p {
  //   color: $gray-2;
  //   font-size: 0.8rem;
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }
  // For larger devices, show only the site title.
  @media only screen and (min-width : 768px) {
    padding: 0;
    @include navbar-item-align;
    // p {
    //   display: none;  // Hide the description.
    // }
  }
}


/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
  @media only screen and (min-width : 768px) {
    @include navbar-item-align;
    &.right {
      float: right; // Log in link.
    }
  }
}
.sidebar-nav-item {
  display: block;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
  font-size: 1.0rem;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  &.active {
    background-color: rgba(255,255,255,.1);
  }
  &:hover {
    background-color: rgba(255,255,255,.1);
  }
  &:focus {
    background-color: rgba(255,255,255,.1);
  }
  @media only screen and (min-width : 768px) {
    @include navbar-item-align;
    border: none; // Reset the border.
    &:not(.active):hover {
      color: $link-hover-color;
      // background: rgba(0,0,0,.5);
      border-bottom: 1px solid $blue;
      text-decoration: none;
    }
  }
}
@media (min-width: 48em) {
  sidebar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sidebar-nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}


/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top: 0.8rem;
  left: auto;
  right: 1rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 12; // Sit on top of canvas header
  display: block;
  text-align: center;
  padding: .25rem;
  color: $gray-4;
  background-color: none;
  border: 1px solid $gray-4;
  // border-radius: .25rem;
  cursor: pointer;
  &:active {
    opacity: .5;
  }
  @media only screen and (min-width : 768px) {
    display: none;
  }
}
@media print {
  .sidebar-toggle {
    display: none;
  }
}
.sidebar .sidebar-toggle {
  z-index: 13;
  color: $blue;
}


/* Slide effect
  *
  * Handle the sliding effects of the sidebar and content in one spot, seperate
  * from the default styles.
  *
  * As an a heads up, we don't use `transform: translate3d()` here because when
  * mixed with `position: fixed;` for the sidebar toggle, it creates a new
  * containing block. Put simply, the fixed sidebar toggle behaves like
  * `position: absolute;` when transformed.
  *
  * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
  */
.sidebar,
.sidebar-toggle,
.wrap {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar-toggle,
.wrap {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  visibility: visible;
  width: 100%;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(-14rem);
  -ms-transform: translateX(-14rem);
  transform: translateX(-14rem);
}


/*
 * Overlay sidebar
 *
 * Make the sidebar content overlay the viewport content instead of pushing it
 * aside when toggled.
 */
.sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 0.25rem #555;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: -.25rem 0 0.5rem rgba(0,0,0,.1);
}
